@font-face {
    font-family: 'SpaceGrotesk';
    src: url(/fonts/SpaceGrotesk[wght].ttf);
}

@font-face {
    font-family: 'GulfsDisplay';
    src: url(/fonts/GulfsDisplay-SemiExpanded.ttf);
}

.yellow {
    background-color: #ffbf2d;
}

.nav-link {
    font-size: 14px;
    color: #201b19 !important;
    font-family: 'SpaceGrotesk';
    font-weight: bold;
    padding-left: 20px !important;
    text-transform: uppercase;
}

.text {
    font-size: 14px !important;
    color: #201b19 !important;
    font-family: 'SpaceGrotesk';
    font-weight: bold;
    text-transform: uppercase;

}

.bg-light {
    background-color: #0000 !important;
}

.navbar-expand-lg .navbar-collapse {
    padding-left: 13%;
}

.button-82-pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-82-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: rgb(0, 0, 0);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.button-82-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(to left, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 8%, rgb(0, 0, 0) 92%, rgb(0, 0, 0) 100%);
}

.button-82-front {
    display: block;
    position: relative;
    padding: 17px 30px !important;
    border-radius: 12px;
    border: #000 2px solid;
    font-size: 1.1rem;
    color: #000;
    background: #fffdf1;
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
    .button-82-front {
        font-size: 1.25rem;
        padding: 12px 42px;
    }
}

.button-82-pushable:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
    outline: none;
}

.sec-one {
    text-align: center;
}

@media (max-width: 600px) {
    .sec-one h1 {
        font-size: 6.5em !important;
    }

    .sec-one h2 {
        font-size: 5.5em !important;
    }
    .text-1{
        font-size: 35px !important;
    }
    .text-2{
        font-size: 35px !important;
    }
    .text-4{
        font-size: 40px !important;
    }
    .text-5{
        font-size: 40px !important;
    }
}

.sec-one h1 {
    font-family: 'GulfsDisplay';
    color: #ff450b;
    font-size: 11.5em;
    text-transform: uppercase;
    text-shadow: 0 8px 0 #201b19;
    -webkit-text-stroke: 2px #201B19;
}

.sec-one h2 {
    font-family: 'GulfsDisplay';
    color: #fffdf1;
    font-size: 11.5em;
    text-transform: uppercase;
    text-shadow: 0 8px 0 #201b19;
    -webkit-text-stroke: 2px #201B19;
}

.sec-col-2 {
    text-align: left;
}

.sec-col-3 {
    text-align: right;
}

.side-text {
    color: #201B19;
    font-size: 14px;
    color: #201b19;
    font-family: 'SpaceGrotesk';
    font-weight: bold;
    text-transform: uppercase;
}

.img-1 {
    margin-top: -55%;
    width: 300px;
}

.sec-two {
    text-align: center;
}

.sec-two marquee span {
    font-family: 'GulfsDisplay';
    color: #333333;
    font-size: 20px;
}

.slide-img {
    width: 95px;
    padding: 10px;
}

.face {
    width: 95px;
    padding: 10px;
}

.text-1 {
    font-family: 'GulfsDisplay';
    color: #fff;
    text-shadow: -2px 0 0 #000, 2px 0 0 #000, 0 -2px 0 #000, 0 6px 0 #000;
    font-size: 50px;
}

.text-2 {
    font-family: 'GulfsDisplay';
    color: #000;
    font-size: 50px;
}
.text-3{
    color: #201b19;
    font-family: 'SpaceGrotesk';
    font-size: 15px;
    padding: 50px;
}
.text-4 {
    font-family: 'GulfsDisplay';
    color: #fff;
    text-shadow: -2px 0 0 #000, 2px 0 0 #000, 0 -2px 0 #000, 0 6px 0 #000;
    font-size: 5.73em;
}

.text-5 {
    font-family: 'GulfsDisplay';
    color: #000;
    font-size: 5.73em;
}
.footer{
    text-align: center;
    overflow: hidden;
}
.social{
    border-radius: 12px;
    background: rgb(0, 0, 0);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
    border-radius: 12px;
    background: linear-gradient(to left, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 8%, rgb(0, 0, 0) 92%, rgb(0, 0, 0) 100%);
    padding: 30px !important;
    border-radius: 150px;
    border: #000 2px solid;
    color: #000;
    background: #fffdf1;
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}
.social:active {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.social:hover{
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}